.hero__section {
    padding: 3% 0;
    margin-top: 74px;
    background-color: #262625;
    display: flex;
    justify-content: space-between;
  }
  
  .hero__section h2 {
    padding-left: 5%;
    flex-basis: 40%;
    line-height: 1.1;
    font-size: 4.2rem;
    font-weight: 700;
    display: flex;
    text-shadow: 2px 2px 10px #9d1313;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  .hero__section__img {
    flex-basis: 60%;
    height: auto;
  }
  
  .hero__section__img img {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 1440px) {
    .hero__section h2 {
      font-size: 3.5rem;
    }
  }
  
  @media (max-width: 1200px) {
    .hero__section h2 {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 1000px) {
    .hero__section {
      flex-direction: column;
      justify-content: center;
    }
  
    .hero__section h2 {
      font-size: 2.4rem;
      align-self: center;
      text-align: center;
      padding-left: 0;
    }
  
    .hero__section__img {
      flex-basis: 100%;
      padding: 0 2rem;
    }
  
    .hero__section {
      padding: 2rem;
    }
  }
  
  @media (max-width: 768px) {
    .hero__section h2 {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 520px) {
    .hero__section h2 {
      font-size: 1.5rem;
    }
  }
  
  
  